@import url(reset.css);
h1,
h2 {
  margin: 0;
}

h3 {
  margin: 15px 0;
}

@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  background-color: #f8bebe;
}
body .header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.375rem;
  padding: 0 5%;
}
body .header .logo {
  width: 60px;
}
body .header .h_txt {
  color: #eeeeee;
  letter-spacing: 1px;
}
body .header .h_txt i {
  margin-right: 0.625rem;
}
body .collapse-init summary + * {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
body .collapse-init :not(.panel-active) summary + * {
  height: 0;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: bottom center;
}
body .collapse-init summary {
  list-style: none;
}
body .collapse-init summary::-webkit-details-marker {
  display: none;
}
body .collapse-init summary::before {
  display: none;
}
body .collapse-init summary {
  cursor: pointer;
}
body .page {
  background-image: url(./image/paper-texture-wide.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
}
body .page #home {
  padding-top: 18rem;
  text-align: center;
}
body .page #home h1 {
  font-family: "ONE-Mobile-Title";
  letter-spacing: -0.02em;
  margin-bottom: 11.75rem;
}
body .page #home h1 a {
  font-size: 6rem;
  color: #fff;
}
body .page .container {
  font-family: "Pretendard-Regular";
}
body .page .container details {
  border-top: 1px solid #303030;
  list-style: none;
}
body .page .container details:last-child {
  border-radius: 0 0 6px 6px;
}
body .page .container details summary {
  display: block;
  transition: 0.2s;
  font-weight: 700;
  font-size: 11.125rem;
}
body .page .container details summary:focus {
  outline: 2px solid #303030;
}
.collapse-init body .page .container details summary::after {
  border-right: 2px solid;
  border-bottom: 2px solid;
  content: "";
  float: right;
  width: 0.5em;
  height: 0.5em;
  transform: rotate(45deg);
  transition: inherit;
}
[open] body .page .container details summary::after {
  margin-top: 0.5em;
  transform: rotate(225deg);
}
body .page .container details summary .word_wrap,
body .page .container details summary .word_wrap2,
body .page .container details summary .word_wrap3,
body .page .container details summary .word_wrap4 {
  display: flex;
  overflow: hidden;
}
body .page .container details summary .word_wrap .word_container,
body .page .container details summary .word_wrap2 .word_container,
body .page .container details summary .word_wrap3 .word_container,
body .page .container details summary .word_wrap4 .word_container {
  display: flex;
}
body .page .container details summary .word_wrap .word_container .words,
body .page .container details summary .word_wrap2 .word_container .words,
body .page .container details summary .word_wrap3 .word_container .words,
body .page .container details summary .word_wrap4 .word_container .words {
  white-space: nowrap;
}
@keyframes flowRolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
body .page .container details:hover {
  color: #f7f7f7;
}
body .page .container details .details-wrapper {
  padding: 6rem 0;
}
body .page .container details .details-wrapper .details-styling {
  position: relative;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  color: #f7f7f7;
}
body .page .container details .about aside {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}
body .page .container details .about aside .about__txt {
  margin-right: 3rem;
}
body .page .container details .about aside .about__txt p {
  margin-top: 25px;
  line-height: 1.7rem;
  word-break: keep-all;
}
body .page .container details .about aside .about__img {
  width: 50%;
}
body .page .container details .about aside .about__img img {
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.097);
}
body .page .container details .about .about__pro {
  margin-bottom: 3rem;
}
body .page .container details .about .about__pro ul {
  display: flex;
  flex-wrap: wrap;
}
body .page .container details .about .about__pro ul li {
  color: #574141;
  padding: 0.4rem 1.1rem;
  margin-right: 0.9rem;
  margin-bottom: 1rem;
  border: 1px solid #f7f7f7;
  border-radius: 2rem;
  font-size: 1rem;
}
body .page .container details .about .about__school .job {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
body .page .container details .about .about__school .job img {
  width: 3.5rem;
}
body .page .container details .about .about__school .job .job__description {
  margin: 0 25px;
  text-align: left;
}
body .page .container details .about .about__school .job .job__description .job_color {
  color: #574141;
}
body .page .container details .skills {
  text-align: center;
}
body .page .container details .skills .skills_contents {
  padding: 15px 0;
}
body .page .container details .skills .skillset {
  display: flex;
  background-color: #9B6868;
  color: #eeeeee;
  margin: 20px 0;
}
body .page .container details .skills .skillset .skillset_title {
  color: #ffffff;
}
body .page .container details .skills .skillset .skillset_left {
  flex-basis: 60%;
  background-color: #4d3839;
  padding: 20px 40px;
}
body .page .container details .skills .skillset .skillset_left .skill {
  margin-bottom: 35px;
}
body .page .container details .skills .skillset .skillset_left .skill h3 {
  font-size: 1.3rem;
}
body .page .container details .skills .skillset .skillset_left .skill .skill_description {
  display: flex;
  justify-content: space-between;
}
body .page .container details .skills .skillset .skillset_left .skill .skill_bar {
  width: 100%;
  height: 4px;
  background-color: gray;
}
body .page .container details .skills .skillset .skillset_left .skill .skill_bar .skill_value {
  width: 100%;
  height: 4px;
  background-color: #feb546;
}
body .page .container details .skills .skillset .skillset_left .skill .skill_bar .html,
body .page .container details .skills .skillset .skillset_left .skill .skill_bar .css,
body .page .container details .skills .skillset .skillset_left .skill .skill_bar .jquery,
body .page .container details .skills .skillset .skillset_left .skill .skill_bar .java {
  transition: width 4s ease !important;
}
body .page .container details .skills .skillset .skillset_right {
  flex-basis: 40%;
}
body .page .container details .skills .skillset .skillset_right h3 {
  margin: 8px 0;
}
body .page .container details .skills .skillset .skillset_right ul {
  margin: 1rem 0;
}
body .page .container details .skills .skillset .skillset_right .tools {
  background-color: #6F4041;
}
body .page .container details .skills .skillset .skillset_right .tools,
body .page .container details .skills .skillset .skillset_right .etc {
  padding: 18px;
}
body .page .container details .work .work_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}
body .page .container details .work .work_list .work_item {
  width: 31%;
  margin: 0 2% 2% 0;
  padding: 20px;
  border-radius: 1rem;
  background: rgba(233, 87, 87, 0.25);
  background-size: 100%;
  transition: background-size 0.5s ease-in-out;
  cursor: pointer;
}
body .page .container details .work .work_list .work_item .work_top {
  display: flex;
  justify-content: space-between;
}
body .page .container details .work .work_list .work_item .work_dec .work_title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
}
body .page .container details .work .work_list .work_item .work_dec .work_desc {
  font-size: 0.9rem;
  color: rgba(255, 244, 244, 0.7);
  margin-bottom: 20px;
}
body .page .container details .work .work_list .work_item .work_btm li {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 13px;
}
body .page .container details .work .work_list .work_item .work_btm li::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  color: #fff;
}
body .page .container details .work .work_list .work_item.soonsal:hover {
  background-image: url(./image/work_soonsal.png);
  background-size: 110%;
  background-position: top center;
}
body .page .container details .work .work_list .work_item.coffee:hover {
  background-image: url(./image/work_coffee.png);
  background-size: 110%;
  background-position: top center;
}
body .page .container details .work .work_list .work_item.bion:hover {
  background-image: url(./image/work_bion.png);
  background-size: 110%;
  background-position: top center;
}
body .page .container details .work .work_list .work_item.mega:hover {
  background-image: url(./image/work_mega.png);
  background-size: 110%;
  background-position: top center;
}
body .page .container details .work .work_list .work_item.code:hover {
  background-image: url(./image/work_unicode.PNG);
  background-size: 110%;
  background-position: top center;
}
body .page .container details .work .work_list .work_item.portfolio:hover {
  background-image: url(./image/work_portfolio.png);
  background-size: 110%;
  background-position: top center;
}
body .page .container details .work .work_list .work_item.none:hover a div,
body .page .container details .work .work_list .work_item.none:hover a ul {
  display: none;
}
body .page .container details .work .work_list .work_item:hover {
  box-shadow: 0 0 15px #eb6161;
}
body .page .container details .contact {
  text-align: center;
}
body .page .container details .contact .contact_title {
  font-size: 60px;
  margin-bottom: 32px;
}
body .page .container details .contact .contact_email {
  font-size: 40px;
  margin: 8px 0;
}
body .page .container details .contact .contact_links {
  font-size: 48px;
}
body .page .container details .contact .contact_links .contact_rights {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  body .page #home h1 a {
    font-size: 3rem;
  }
  body .page .container details summary {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1440px) {
  body .page .container details .about aside .about__img {
    flex-shrink: 0;
    width: 250px;
  }
  body .page .container details .about aside .about__img img {
    display: block;
    max-width: 100%;
  }
}
@media screen and (max-width: 767.9px) {
  body .header .h_txt {
    display: none;
  }
  body .page #home h1 a {
    font-size: 2rem;
  }
  body .page .container details .about aside {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
    font-size: 1rem;
  }
  body .page .container details .about aside .about__txt {
    text-align: center;
    margin: 0 0 30px 0;
  }
  body .page .container details .about .about__pro {
    margin-bottom: 1rem;
  }
  body .page .container details .about .about__pro ul li {
    font-size: 0.75rem;
  }
  body .page .container details .about .about__school .job img {
    width: 2.5rem;
  }
  body .page .container details .about .about__school .job .job__description {
    font-size: 0.75rem;
  }
  body .page .container details .skills .skillset {
    font-size: 0.7rem;
  }
  body .page .container details .skills .skillset .skillset_left {
    padding: 10px 30px;
  }
  body .page .container details .skills .skillset .skillset_title {
    font-size: 1.1rem;
  }
  body .page .container details .work .work_list {
    justify-content: flex-start;
  }
  body .page .container details .work .work_list .work_item {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 5%;
  }
  body .page .container details .work .work_list .work_item .work_dec .work_title {
    font-size: 1.1rem;
  }
  body .page .container details .work .work_list .work_item:hover {
    background: none;
  }
  body .page .container details .details-wrapper {
    padding: 3rem 0;
  }
}/*# sourceMappingURL=style.css.map */